

/*css begin for search*/
.logo{    
   background:black;      
}
.navbar-brand  {
   background:white;
}
.navbar-nav{
    background: white;
}

.scontainer{
    margin:20px;
}
.background{
    background-image:url("../components/image/bar4.jpg");
    width:100%;
    height:100%;
}
.sbtn{
    width:100%;
    font-weight:bold;    
}
.form-control{
    margin-bottom:10px;
}
.slogan{
    color:white;
    font-weight: bold;
    text-align:center;
    margin-top:20px;
    background-color:rgba(51,51,85,0.5) 
}

/*css end for search*/

/*css begin for bar*/

.backdivcolor{  
    background-color:#D9853B;
}
.resultcontent{
    text-decoration:none;
}

.noresult{
    background-color:red;
    
}
.noresult p{
    color:white;
    font-size:22px;
}
.title{
    font-size:1.2em;
}
a{
    color:black;
}
.content{
    background-color:white;
    height:120px;
    padding-left:12px;
    text-decoration:none;
}
.titlebar{
    font-size:18px;
    font-weight:bold;
    padding-top:20px;
    padding-bottom:20px;
}
.bar{
    border-top-right-radius:5px;
    border-top-left-radius:5px;
}

/*css ends for bar*/
@media screen and (max-width: 680px) {
.bar{
    width:100%;
}
}


 /*contact :start*/
 .contact{
    background: 7FFF00;
    color:	FFA07A;
    padding-bottom: 5%;
}
.contact-title{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: black;
}
.contact,h4,p,h2{
  text-align: center;
  color: black;
}
.img-contact{
  width:304px;
  height:236px;
}
 /*contact end*/
 /*detai :start*/
 .detail{
  background:#F7F6D7;
  margin-top:15px;
}
.detail-title h2{
  text-align: center;
}
.detailimg{
  width:100%;
  height: 200px;

}

.detail-list h1,h2{
  text-align: center;
}
.detail-list p,{
  text-align: left;
}

.detail h4{
  text-align: center;
}
.detail p{
  text-align: left;
}
.detail h2{
  text-align: center;
}
.sch_btn{
  max-Width: 400;
   margin: '0 auto 10px';
}
.btn-custom {
        background-color: maroon;
        color: white;
}
.Drink tr,th{
  text-align: center;
}

.Drink-title h2{
  text-align: center;
  color:white;
}
.Drink{
    background-color:black;
    color:white;
}
.AddReview{
  background-color:#F7F6D7;
  color: black;
}
.comment{
  float:left;
}
.com-img{
  width:64px;
  height:64px;
}
.btn-customrating{
    background-color:black;
    color: white;
    margin-top:10px;
    margin-bottom:10px;
}
.btn-customreview{
    background-color:black;
    color:white;   
}
.cmt{
    text-align: justify;
}
.review{
    background-color:#F7F6D7;    
}

.titlename{
    background-color:white;
    
}

.btnback{
    margin-top:10px;     
     background-color:black; 
     color:white;   
}

 /*detail end*/
