

/*css begin for search*/
.logo{
   background: linear-gradient(to bottom, #2989d8 2%,#2989d8 2%,#207cca 13%,#050c02 97%,#7db9e8 100%);
}
.navbutton{
    background-color: white;
}
.navbar-brand  {
   background:white;
}

.navdisplay{
    background-color:#1E2D8F;
    color:white;
}
.navbar-default .navbar-nav>li>a  {
    color:white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: yellow;
    background-color: black;
}
.navbar-default .navbar-brand {
    color: #080808;
    font-weight:bold;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size:2.5em;
}

.navbar-nav{
    background: white;
}

.scontainer{
    margin:20px;
}
.background{
    background-image:url("../components/image/bar4.jpg");
    width:100%;
    height:100%;
}
.sbtn{
    width:100%;
    font-weight:bold;
}
.form-control{
    margin-bottom:10px;
}
.slogan{
    color:white;
    font-weight: bold;
    text-align:center;
    margin-top:20px;
    background-color:rgba(51,51,85,0.5)
}

.reviewresult{
    background-color:green;
    color:white;
}

.txtcomment{
    min-width: 100%
}

.gobackbtn{
    margin-top:10px;
    margin-bottom:10px;
    min-width:100%
}
.namegap{
    margin-top:10px;
}

/*css end for search*/

/*css begin for map*/
.seeMore{
  color: green;
}
.panel{
  border-radius: 20px;
}
.panel > .panel-heading{
border-radius: 40px;
}
.panel > .panel-footer{
border-radius: 40px;
}
.panel > .panel-body{
border-radius: 40px;
font-style: italic;
font-weight: bolder;
}
/*css end for map*/
/*css begin for bar*/

.backdivcolor{
    background-color:#F3F3F3;
}
.resultcontent{
    text-decoration:none;
}

.noresult{
    background-color:red;

}
.noresult p{
    color:white;
    font-size:22px;
}
.title{
    font-size:1.2em;
}
a{
    color:black;
}
.content{
    background-color:white;
    height:120px;
    padding-left:12px;
    text-decoration:none;
}
.titlebar{
    font-size:22px;
    font-weight:bold;
    padding-top:20px;
    padding-bottom: 20px;    
}
.timetable{
    font-size:18px;
}
.address{
    font-size:16px;
}
.bar{
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    background:  #F3F3F3;
}


.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
}
.titletopbar{   
    margin-bottom: 10px;
    background-color:#207cca;
    color:white;
}
.barlist{  
  background-color:white;
  text-align: center;
  margin: 20px;
  
}
.ratevalue{
    background-color:#5BA829;
    border-color: #5BA829!important;
    color:white;
    font-size:26px;
    font-weight:bold;
    height:24px;
    width:20px;
}

/*css ends for bar*/
@media screen and (max-width: 680px) {
.bar{
    width:100%;
}
}


 /*contact :start*/
 .contact{
    background: 7FFF00;
    color:	FFA07A;
    padding-bottom: 5%;
}
.contact-title{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: black;
}
.contact,h4,p,h2{
  text-align: center;
  color: black;
}
.img-contact{
  width:304px;
  height:236px;
}
 /*contact end*/
 /*detai :start*/
 .detail{
  background:white;
  margin:10px;  
}
.dtitle{
    padding-top:10px;    
    font-size:22px;
}
.dlocation{    
    
    margin-bottom:40px;
}
.detail-title h2{
  text-align: center;
  color:white;
}
.detailimg{
  width:100%;
  height: 200px;
  border-radius: 6px;

}

.detail-list h1,h2{
  text-align: center;
  color:white;
 
}
.detail-list p,{
  text-align: left;
}

.detail h4{
  text-align: center;
}
.detail p{
  text-align: left;
}
.detail h2{
  text-align: center;
}
.sch_btn{
  max-Width:100%;
   margin: '0 auto 10px';
   background:white;
}

.btn:focus, .btn:hover {
    color: white;
    text-decoration: none;
}
.btn-custom {
        background-color: maroon;
        color: peru;
}
.Drink tr,th{
  text-align: center;
}

.Drink-title h2{
  text-align: center;
  color:white;
}
.Drink{
    background-color:#333333;
    color:white;
    border-radius: 6px;
    margin:10px;
}
.AddReview{
  background-color:#F3F3F3;
  color: black;
}
.comment{
  float:left;
}
.com-img{
  width:64px;
  height:64px;
}
.btn-customrating{
    background-color:#207cca;
    color: white;
    margin-top:10px;
    margin-bottom:10px;
}
.btn-customreview{
    background-color:seagreen;
    color:white;
    margin-bottom:20px;
}
.cmt{
    text-align: justify;
}
.review{
    background-color:#F3F3F3;
    margin:10px;
}
.price{
    float:right;
    font-family: 'Shadows Into Light', cursive;
    font-size:22px;
}
.drinkname{
    float:left;
    font-family: 'Shadows Into Light', cursive;
    font-size:22px;
}
.titlename{
    background-color:white;

}

.btnback{
    margin-top:10px;
     background-color:black;
     color:white;
}
.Schedule{   
    background:white;
    margin:10px;
}

 /*detail end*/
